.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1440px;
    
    background: linear-gradient(360deg, #211F20 0%, #44403F 100%);

}

.order {
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, #494544 0%, #504b4a 100%);
}

.product {
    padding: 20px 40px 20px 20px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: white;

}

.aboutProduct {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.productImage {
    height: 80px;
    width: 120px;
}

.productTitle {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.productDescription {
    font-size: 12px;
    line-height: 14px;
    color: #a6a7ab;
}

.addStylesButton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    background: #72a479;
}

.orderContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 763px;
    height: 105px;
    border-radius: 10px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.price {
    color: white;
    font-family: Gilroy;
    font-size: 12px;
    line-height: 14px;
}

.totalPrice {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

.checkout {
    padding: 17px 50px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}