.container{
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 39px;

}

.calling{
    width: 24px;
    height: 24px;
}


.circle{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #618967;
    align-items: center;

}
.containerContact{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 136px;
    height: 39px;
}
.contact{
    font-family: 'Roboto' , "sans serif";
    font-size: 12px;
    font-weight: 400;
    color: #CFCFCF;
}

.phone{
    font-family: 'Roboto' , "sans serif";
    font-size: 16px;
    font-weight: 700;
    color: #CFCFCF;
}

@media (max-width: 912px) {
	.container {
        display: none;
	}
}