.container{
    width: 1440px;
    height: 99px;
    background:#403C3B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1280px) {
	.container {
        max-width: 1280px;
	}
}

@media (max-width: 1024px) {
	.container {
        max-width: 1024px;
	}
}

@media (max-width: 912px) {
	.container {
        max-width: 912px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 10px;

        height: 200px;        
	}
}
@media (max-width: 800px) {
	.container {
        max-width: 800px;
	}
}
@media (max-width: 540px) {
	.container {
        max-width: 540px;
        
	}
}