@import "../../assets/fonts/fonts.css";

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
}

.navigation a {
	font-family: Gilroy;
    font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	color: #fff;
    padding-left: 40px;
}


@media (max-width: 1024px) {
	.navigation{
		display: none;
	}
	.navHeader{
        display: flex;
        position: absolute;
		width: 950px;
        top: 8px;
        background: #403C3B;
        padding: 30px;
		left: 30px;
    }
}

@media (max-width: 800px) {
	.navHeader{
        flex-direction: column;
		width: 400px;
        
    }
}
