.container{
    display: flex;
    position: relative;

}

.input{
    width: 550px;
    height: 52px;
    border-radius: 10px;
    background:#504B4A;
    border: none;

}
.location {
    position: absolute;
    top: 14px;
    left: 14px;
}
.search{
    position: absolute;
    top: 14px;
    right: 30px;
}